body {
    text-align: center;
    height: calc(100vh - 20px);

}
div{
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 10px;
}
.header, .footer {
    display: flex;
    justify-content: center;
    height: calc(10% - 20px);
}
.first-column, .second-column, .third-column {
    max-width: calc(33% - 20px);
    float: left;
}
.main-content {
    display: inline-block;
}
.quote {
    font-style: italic;
    font-family: cursive;
}